<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>star-wars-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let character of characterList"
      routerLink="/swapi-details/{{ starWarsService.getId(character) }}">
      <h3>{{ character.name }}</h3>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="previousPage()" *ngIf="prevURL">
            Précédent
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-chip>{{ page }}</ion-chip>
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="nextPage()" *ngIf="nextURL">
            Suivant
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>